body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.8;
  color: #333;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #003366; /* ダークブルー */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

iframe {
  width: 100%;
  height: 315px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
